* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f8f9;
}

main {
  background-color: #f6f8f9;

}

.cTitle {
  display: flex;
  align-items: center;
  background-color: white;
  border-style: solid;
  background-size: 20%;
  border-color: white;
}

/*BUTTONS FIRST DIV*/

.buttons {
  width: 50%;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  }
.button1 {
  background-color: #47adf1;
  border: solid;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
  color: white;
  border-color: white;
  margin: 2px;
  margin-left: 40px;
}
.button2 {
  background-color: white;
  border: solid;
  color: grey;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
  border-color: lightgray;
  margin-top: 10px;
}

/*MORE BUTTONS AND UL SECOND DIV*/

ul{
  list-style-type:none;
}

.UL{
  width: 50%;
  background-color: white;
  margin: 2px auto;
  padding: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  }

.button3 {
  background-color: #47adf1;
  border: solid;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 30px;
  border-color: white;
  color: white;
}

.status-greenmark{
  color: green;
  border: 1px solid green;
  border-color:green;
}
/*SPAN LIST*/

.backgroundblue{
  color: white;
  font-size: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  vertical-align: middle;
  line-height: 15px;
  background-color: #47adf1;
}

.background{
  color: white;
  font-size: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  vertical-align: middle;
  line-height: 15px;
}

.blue{
  background-color: #47adf1;
}
