* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f6f8f9;
  font-family: Arial, Arial, Helvetica, sans-serif
}

main {
  background-color: #f6f8f9;

}


.cTitle {
  display: flex;
  align-items: center;
  background-color: white;
  border-style: solid;
  background-size: 20%;
  border-color: white;
}

.item{
  height: 40px;
  line-height: 40px;
}

.text{
  vertical-align: midd;
}

/*BUTTONS FIRST DIV*/

.buttons {
  width: 50%;
  margin-top: 7%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  }
.button1 {
  background-color: #47adf1;
  border: solid;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
  color: white;
  border-color: white;
  margin: 2px;
  margin-left: 40px;
}
.button2 {
  background-color: white;
  border: solid;
  color: grey;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
  border-color: lightgray;
  margin-top: 10px;
}

/*MORE BUTTONS AND UL SECOND DIV*/

ul{
  list-style-type:none;
}

.UL{
  width: 50%;
  background-color: white;
  margin: 2px auto;
  padding: 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  }

.button3 {
  background-color: #47adf1;
  border: solid;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 30px;
  border-color: white;
  color: white;
}
/*STATUS*/

.status{
  border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    font-size: 10px;
    line-height: 15px;
    vertical-align: middle;
    text-align: center;
}

.sgreen{
  background-color: white;
  border: 1px solid green

}

.sred{
  background-color: white;
  border: 1px solid red;
}

/*SPAN LIST*/

.background{
  color: white;
  font-size: 10px;
  border-radius: 10px;
  padding: 5px 10px;
  vertical-align: middle;
  line-height: 15px;
}

.blue{
  background-color: #47adf1;
}

.purple{
  background-color: #9b71e3;
}

.green{
  background-color: forestgreen;
}

.orange{
  background-color: coral;
}

.rose{
  background-color: palevioletred;
}
.green2{
  background-color: #b1ca2c;
}

.blue2{
  background-color: skyblue;
}

